<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="styles.css">
    <body>
        <div class="box" id="heading">
            <% if(DayType==="saturday" || DayType==="sunday"){ %>
                <h1 style="color:yellow">yeah! its weekend</h1>
            <% }
            else{ %> 
<!--jab jab transition hoga html to if-else tab tab scriplet tag lagegea.yaha per closing bracket ke baad seedha else aa rha tha isliye nhi lagaya.  -->
                <h1 style="color:blue">boo! its a working day</h1>
            <% } %>
        </div>
        
        
        <div class="box">
            <% for(var i=0;i<newitems.length;i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= newitems[i] %></p>
                </div>
            <% } %>
            <form class="item" action="/" method="post">
                <input type="text" name="i1" placeholder="Add a new Task" autocomplete="off"/>
                <button type="submit" name="i2">+</button>
            </form>
        </div>    

    </body>
</html>